.content-center
  h2.ui.header Who We Are
  .ui.divider
  | We are Jordan Sandoval and Jonathan Thom, two friends from Bellingham, WA. For years now, we've been reading philosophy and meeting weekly to discuss what we read. We realized though that it's difficult to hang on to insights, questions, and ponderances as time goes by. This blog serves as repository for our thoughts.
